n8n Workflows/AI agent Chatbot/Pinecone___Ai_agent_uploader_CV.json
{
  "name": "Pinecone - Ai agent uploader CV",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RG8v5AYr7-PW0oghLde91e9X6z-WMgB4",
          "mode": "list",
          "cachedResultName": "RAG APP_CV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RG8v5AYr7-PW0oghLde91e9X6z-WMgB4"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3b8dcb60-b978-41c1-bead-af88e3ef83be",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cQmyMn4iAVzxHGrC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "f9582f3c-2c65-409c-b783-d3ab8522ab09",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cQmyMn4iAVzxHGrC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "cvinfo",
          "mode": "list",
          "cachedResultName": "cvinfo"
        },
        "options": {
          "pineconeNamespace": "cvdata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "79e268d3-c60d-40a7-8a38-33bcf9ea190e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "h0qlEW25WSFn0YPa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        260
      ],
      "id": "551a5f84-f1c6-475e-ab33-2a0b07bb4432",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "isO663kegOChWpuR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        460,
        200
      ],
      "id": "42fdc1ab-3505-449f-80a6-8d4497967168",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        540,
        360
      ],
      "id": "4771a727-87bf-41b1-9a44-d37f94e0fdb0",
      "name": "Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77fa7918-6795-48ff-bfbd-138748b8ff8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0b3253ff5a6fcd01fe7ce9335115cae8992e2956501fe9a13becf04484d8558"
  },
  "id": "dRffueHQZYbOpCC7",
  "tags": [
    {
      "createdAt": "2025-06-18T05:38:42.783Z",
      "updatedAt": "2025-06-18T05:38:42.783Z",
      "id": "AbN8aC2Lxh0skj4u",
      "name": "Backup"
    }
  ]
}