n8n Workflows/AI agent Chatbot/Scraping_text_to_Markdown.json
{
  "name": "Scraping text to Markdown",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        -160
      ],
      "id": "82998e9f-eb50-49ae-a387-d86fe27e0ad9",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://python.langchain.com/docs/introduction/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -160
      ],
      "id": "ca25019a-a9af-48dc-90d2-591d7c3944ec",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        620,
        -160
      ],
      "id": "b139f0ac-08b2-4893-8fbd-3dfb9ab8c66f",
      "name": "Markdown"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef7299a3-6901-49b6-8937-f0ef1147704d",
  "meta": {
    "instanceId": "e0b3253ff5a6fcd01fe7ce9335115cae8992e2956501fe9a13becf04484d8558"
  },
  "id": "aE6uLAx5wGj5NIJE",
  "tags": []
}