n8n Workflows/WhatsApp/WhatsApp_with_AI_agent.json
{
  "name": "WhatsApp with AI agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5e27fe17-355b-4b3b-8a09-54aef7aed4d0",
      "name": "WhatsApp Trigger",
      "webhookId": "09e418ef-3ebe-460d-bed4-6bf2c081c04f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "e135EC3AoFyPvqTU",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=## Role**\nYou are a **personal assistant** designed to help users manage tasks efficiently.\n\n## **Capabilities**\nYou have access to the following tools:\n- **Send_Mail** → Use this tool to send well-formatted emails with a proper greeting and closing.\n- **Wikipedia** → Use this tool to look up general knowledge and factual information.\n\n## **Behavior**\n- You respond **clearly, concisely, and professionally**, while maintaining a friendly tone.\n- When sending emails, ensure they are **well-structured and polite**.\n- If a user asks a factual question, check **Wikipedia** before responding.\n- If a request is unclear, ask for clarification before proceeding.\n\n## **Restrictions**\n- Only use **Send_Mail** for sending emails, not for internal communication.\n- Do not generate responses based on assumptions; always verify with Wikipedia when relevant.\n\n## time and date: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "04c0581b-d0ca-42aa-9db4-160394193154",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        200
      ],
      "id": "364c3272-2bb3-4dda-a56f-b707a42da6f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "isO663kegOChWpuR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        300
      ],
      "id": "7f06952e-2101-4089-b8b0-d4076e23110c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "622075674333296",
        "recipientPhoneNumber": "+639761940110",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "d4eb3cfb-c824-41af-84f8-77fddfc19a9c",
      "name": "WhatsApp Business Cloud",
      "webhookId": "25316296-595f-43ab-8533-cb17ae4740a5",
      "credentials": {
        "whatsAppApi": {
          "id": "sBRx9Jm5Mf6XODW5",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "id": "02235246-fe61-4833-b810-fce95e11f00e",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        360,
        300
      ],
      "id": "fe229e36-ecd7-407d-9393-9bfed753ed3d",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        680,
        300
      ],
      "id": "626914ef-a729-4f6c-8f29-c62303776cd1",
      "name": "Gmail",
      "webhookId": "4bff3cd8-5965-45a7-bc96-c6fc5d40eff8",
      "credentials": {
        "gmailOAuth2": {
          "id": "wGQSHftWQF58fBDO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44543f7f-2965-42a5-8688-57c7a53683e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0b3253ff5a6fcd01fe7ce9335115cae8992e2956501fe9a13becf04484d8558"
  },
  "id": "lqYRLg0HQedsQDSF",
  "tags": []
}